
body{
    background-color: aqua;
}

.children {
    height: 100px;
    background-color: rgb(194, 101, 101);
    display: block ;
    width: 200px;
    margin: 40px;
}


#modal{
    display: none;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background-color: rgb(197, 96, 96);
    margin: 40px;
}

#modal #cambiar{
    margin-top: 10px;
}